$default-font: 'Trebuchet MS', sans-serif;
$primary-color: #333;
$primary-color-soft: #666;
$white: #eee;

.blue {
  background-color: #559;
}
.red {
  background-color: #c33;
}
.green {
  background-color: #595;
}
